
    <nav class="breadcrumb">
        <span class="breadcrumb-item">Patients</span>
    </nav>
    <img src="./assets/gif/patient Registation.gif" alt="" style="height: 267px;" >
    <div class="row justify-content-center" style="margin-bottom: 28px;">
        <div class="card-body">
                <div class="row align-items-start">
                        <div class="col">
                            Ward 1- Next Week
                            <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 85%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Worst than last week (85%)</p>
                        </div>
                        <div class="col">
                                Ward 2- Next Week
                            <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 55%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Similer to last week (55%)</p>
                    
                        </div>
                        <div class="col">
                                Ward 3- Next Weeks
                            <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Better than last week (25%)</p>
                        </div>
                    </div>
           
           
           
        </div>
    </div>

<div class="card card-cascade narrower">

  <!--Card image-->
  <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <div class="round">
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-th-large mt-0"></i></button>
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-columns mt-0"></i></button>
    </div>

    <a href="" class="white-text mx-3">Current Patients</a>

    <div class="round">
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="modal" data-target="#modalQuickView" (click)="fluidRight1.show()" mdbWavesEffect>
              <i class="fa fa-plus fa-2x" aria-hidden="true" ></i>
      </button>
     
  </div>

</div>
  <!--/Card image-->

  <div class="px-4">

      <!--Table-->
      <table class="table table-hover table-responsive-md mb-0">

          <!--Table head-->
          <thead>
              <tr>
                  <th scope="row">ID</th>
                  <th class="th-lg">Name</th>
                  <th class="th-lg">Current Ward</th>
                  <th class="th-lg">Current Level</th>
                  <th class="th-lg">Ward Changes</th>
                  <th class="th-lg">Priority</th>
                  <th class="th-lg">Action</th>

              </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
              <tr *ngFor="let patient of patients; let i = index">
                  <th scope="row">{{patient.id}}</th>
                  <td>{{patient.name}}</td>
                  <td>{{patient.ward}}</td>
                  <td>{{patient.level}}</td>
                  <td>{{patient.ward}}</td>
                  <td *ngIf="patient.priority=='High'" ><span class="badge badge-danger badge-pill ">&nbsp;&nbsp;&nbsp;High&nbsp;&nbsp;&nbsp;</span></td>
                  <td *ngIf="patient.priority=='Low'" ><span class="badge badge-success badge-pill ">&nbsp;&nbsp;&nbsp;Low&nbsp;&nbsp;&nbsp;</span></td>
                  <td *ngIf="patient.priority=='Medium'" ><span class="badge badge-warning badge-pill ">&nbsp;&nbsp;Medium&nbsp;</span></td>
                <td  class="round">
                  <button (click)="setToForm(i)"  (click)="fluidRight1.show()" type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-pencil mt-0" style="color: brown"></i>
                </button>
                <button (click)="onRemoveIndex(patient.id)"  (click)="fluidRight2.show()" type="button" class="btn btn-danger btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-remove mt-0" style="color: red"></i>
                </button>
                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i  style="color: blue" class="fa fa-info-circle mt-0"></i></button>
                </td>
                </tr>
              
          </tbody>
          <!--Table body-->
      </table>

  </div>

  <hr class="my-0">

  <!--Bottom Table UI-->
  <div class="d-flex justify-content-center">

      <!--Pagination -->
      <nav class="my-4 pt-2">
          <ul class="pagination pagination-circle pg-purple mb-0">

              <!--First-->
              <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link">First</a></li>

              <!--Arrow left-->
              <li class="page-item disabled">
                  <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
              </a>
              </li>

              <!--Numbers-->
              <li class="page-item active"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">4</a></li>
              <li class="page-item"><a class="page-link">5</a></li>

              <!--Arrow right-->
              <li class="page-item">
                  <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
              </a>
              </li>

              <!--First-->
              <li class="page-item clearfix d-none d-md-block"><a class="page-link">Last</a></li>

          </ul>
      </nav>
      <!--/Pagination -->

  </div>
  <!--Bottom Table UI-->

</div>
  <!-- <div class="text-center">
    <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#basicExample" (click)="fluidRight.show()"
      mdbWavesEffect>
      Right
    </button> -->
    

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalQuickView" (click)="fluidRight1.show()" mdbWavesEffect>Launch modal</button> -->
 <!-- test -->

 <div mdbModal  #fluidRight1="mdb-modal" class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <!--Carousel Wrapper-->
              <div id="carousel-thumb" class="card slide cardHeigth">
                  <!--Slides-->
                  <div class="card-body">
                    <div class="card-header blue accent-1 details">
                        <h3 class="mt-2"><i style="color: white" class="fa fa-address-card" aria-hidden="true"></i>&nbsp;Personal Details</h3>
                      </div>
                      
                      <div class="md-form" style="margin-top: 40px;">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input [(ngModel)]="name" type="text" id="patient-name" class="form-control" mdbInputDirective [ngModelOptions]="{standalone: true}">
                        <label for="patient-name">Name</label>
                      </div>
                      <div class="md-form">
                        <i class="fa fa-tag prefix grey-text"></i>
                        <input [(ngModel)]="NIC" type="text" id="form-NIC" class="form-control" mdbInputDirective [ngModelOptions]="{standalone: true}">
                        <label for="form-NIC">NIC</label>
                      </div>
                      <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input [(ngModel)]="address" type="text" id="patient-address" class="form-control" mdbInputDirective [ngModelOptions]="{standalone: true}">
                        <label for="patient-address">Address</label>
                      </div>
                      <div class="md-form">
                        <i class="fa fa-tag prefix grey-text"></i>
                        <input [(ngModel)]="gender" type="text" id="form-Gender" class="form-control" mdbInputDirective [ngModelOptions]="{standalone: true}">
                        <label for="form-Gender">Gender</label>
                      </div>
                      <div class="md-form">
                        <i class="fa fa-tag prefix grey-text"></i>
                        <input [(ngModel)]="distric" type="text" id="form-date" class="form-control" mdbInputDirective [ngModelOptions]="{standalone: true}">
                        <label for="form-Distric">Reported Distric</label>
                      </div>
                      <div class="md-form">
                        <i class="fa fa-tag prefix grey-text"></i>
                        <input [(ngModel)]="date" type="text" id="form-date" class="form-control" mdbInputDirective [ngModelOptions]="{standalone: true}">
                        <label for="form-date">Date</label>
                      </div>
                  </div>
                  <div class="carousel-inner" role="listbox">

                  </div>
                
              </div>
              <!--/.Carousel Wrapper-->
            </div>
            <div class="col-lg-6">
              <div id="carousel-thumb" class="card slide cardHeigth">
                <!--Slides-->
                <div class="card-body">
                  <div class="card-header blue accent-1 details">
                      <h3 class="mt-2"><i style="color: rgba(255, 0, 0, 0.699)" class="fa fa-medkit" aria-hidden="true"></i>&nbsp;Hospital Details</h3>
                    </div>
                   
                    <div class="md-form" style="margin-top: 40px;">
                      <i class="fa fa-user prefix grey-text"></i>
                      <input [(ngModel)]="level" type="text" id="form-Level" class="form-control" mdbInputDirective [ngModelOptions]="{standalone: true}">
                      <label for="form-Level">Current Level</label>
                    </div>
                    <div class="md-form">
                      <i class="fa fa-envelope prefix grey-text"></i>
                      <input [(ngModel)]="ward" type="text" id="form-Ward" class="form-control" mdbInputDirective [ngModelOptions]="{standalone: true}">
                      <label for="form-Ward">Assigned Ward</label>
                    </div>
                    <div class="md-form">
                      <i class="fa fa-tag prefix grey-text"></i>
                      <input [(ngModel)]="priority" type="text" id="form-Priority"class="form-control" mdbInputDirective [ngModelOptions]="{standalone: true}">
                      <label for="form-Priority">Priority</label>
                    </div>
                    <div class="md-form">
                      <i class="fa fa-pencil prefix grey-text"></i>
                      <textarea [(ngModel)]="comments" type="text" id="form-Comments"  rows="3" class="form-control md-textarea" mdbInputDirective [ngModelOptions]="{standalone: true}"></textarea>
                      <label for="form-Comments">Comments</label>
                    </div>
                </div>
                <div class="carousel-inner" role="listbox">

                </div>
              
            </div>
              <!-- /.Add to Cart -->
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="fluidRight1.hide()" mdbWavesEffect>Close</button>
            <button *ngIf="title =='New Patient'" type="button" class="btn btn-primary waves-light" mdbWavesEffect (click)="onCreate();fluidRight1.hide()">Assign Patient</button>
            <button *ngIf="title !='New Patient'" type="button" class="btn btn-primary waves-light" mdbWavesEffect (click)="onUpdate();fluidRight1.hide()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal: modalQuickView -->

  <div mdbModal #fluidRight2="mdb-modal" class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalRemove"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure?</p>
            </div>

            <!--Body-->
            <div class="modal-body">

                <i class="fa fa-times fa-4x animated rotateIn"></i>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <button type="button" class="btn  btn-outline-danger" mdbWavesEffect (click)="onRemove();launch_toast()" data-dismiss="modal"
                    (click)="fluidRight2.hide()">Yes</button>
                <!-- <a class="btn  btn-outline-danger">Yes</a> -->
                <!-- <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a> -->
                <button type="button" class="btn  btn-danger" mdbWavesEffect data-dismiss="modal" (click)="fluidRight2.hide()">No</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div id="toast">
    <div id="img">
        <i class="fa fa-check" aria-hidden="true"></i>
    </div>
    <div id="desc">Success Fully Removed...!</div>
</div>

<div id="toast1">
    <div id="img">
        <i class="fa fa-check" aria-hidden="true"></i>
    </div>
    <div id="desc">Success Fully Assinged...!</div>
</div>

