.breadcrumb{
  border-bottom-right-radius: 34px;
  border-top-right-radius: 34px;
  width: 200PX;
  background-color: #007bff;
  color: white;
  font-weight: 800;

}
.details{
  margin-top: -54px;
  box-shadow: 0 5px 11px 4px rgba(0,0,0,.18), 0 4px 15px 0 rgba(0, 0, 0, 0.23);
}
.blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #4285f4);
  }
  .round>button{
    border-radius: 19px;
}
.progress{
  background-color: #8c95f375;
}
.cardHeigth{
  height: 549px;
}
.pt-3-half {
  padding-top: 1.4rem;
}
.fixed-plugin {
  position: fixed;
  top: 50px;
  right: 0;
  width: 100px;
  background: #e91e63ed;
  z-index: 1031;
  border-radius: 8px 0 0 8px;
  text-align: center;
  color: white;
  font-family: cursive;
}
.modal .modal-dialog.modal-top-right {
  width: 440px
  }
  
@keyframes horizontal {
	0%{transform:translate(0,0)}
	6%{transform:translate(5px,0)}
	12%{transform:translate(0,0)}
	18%{transform:translate(5px,0)}
	24%{transform:translate(0,0)}
	30%{transform:translate(5px,0)}
	36%,100%{transform:translate(0,0)}
}
.faa-horizontal.animated.faa-slow,
.faa-horizontal.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-horizontal.faa-slow {
	animation: horizontal 3s ease infinite;
}
#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #111;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img{
width: 50px;
height: 50px;
  
  float: left;
  
  padding-top: 16px;
  padding-bottom: 16px;
  
  box-sizing: border-box;

  
  background-color: rgb(10, 201, 26);
  color: #fff;
}
#toast #desc{

  
  color: #fff;
 
  padding: 16px;
  
  overflow: hidden;
white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px} 
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}
@-webkit-keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}
/////
#toast1 {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
   background-color: #111;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast1 #img{
width: 50px;
height: 50px;
  
  float: left;
  
  padding-top: 16px;
  padding-bottom: 16px;
  
  box-sizing: border-box;

  
  background-color: rgb(10, 201, 26);
  color: #fff;
}
#toast1 #desc{

  
  color: #fff;
 
  padding: 16px;
  
  overflow: hidden;
white-space: nowrap;
}

#toast1.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px} 
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}
@-webkit-keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}
.nav-tabs .nav-link {
  border: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0;
}
////
// .progress{
//   width: 150px;
//   height: 150px;
//   line-height: 150px;
//   background: none;
//   margin: 0 auto;
//   box-shadow: none;
//   position: relative;
// }
// .progress:after{
//   content: "";
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
//   border: 12px solid #fff;
//   position: absolute;
//   top: 0;
//   left: 0;
// }
// .progress > span{
//   width: 50%;
//   height: 100%;
//   overflow: hidden;
//   position: absolute;
//   top: 0;
//   z-index: 1;
// }
// .progress .progress-left{
//   left: 0;
// }
// .blue {
//   background-color: white !important;
// }
// .yellow {
//   background-color: white !important;
// }
// .progress .progress-bar{
//   width: 100%;
//   height: 100%;
//   background: none;
//   border-width: 12px;
//   border-style: solid;
//   position: absolute;
//   top: 0;
// }
// .progress .progress-left .progress-bar{
//   left: 100%;
//   border-top-right-radius: 80px;
//   border-bottom-right-radius: 80px;
//   border-left: 0;
//   -webkit-transform-origin: center left;
//   transform-origin: center left;
// }
// .progress .progress-right{
//   right: 0;
// }
// .progress .progress-right .progress-bar{
//   left: -100%;
//   border-top-left-radius: 80px;
//   border-bottom-left-radius: 80px;
//   border-right: 0;
//   -webkit-transform-origin: center right;
//   transform-origin: center right;
//   animation: loading-1 1.8s linear forwards;
// }
// .progress .progress-value{
//   width: 90%;
//   height: 90%;
//   border-radius: 50%;
//   background: #44484b;
//   font-size: 24px;
//   color: #fff;
//   line-height: 135px;
//   text-align: center;
//   position: absolute;
//   top: 5%;
//   left: 5%;
// }
// .progress.blue .progress-bar{
//   border-color: #ff3547;
// }
// .progress.blue .progress-left .progress-bar{
//   animation: loading-2 1.5s linear forwards 1.8s;
// }
// .progress.yellow .progress-bar{
//   border-color: #fdba04;
// }
// .progress.yellow .progress-left .progress-bar{
//   animation: loading-3 1s linear forwards 1.8s;
// }
// .progress.pink .progress-bar{
//   border-color: #ed687c;
// }
// .progress.pink .progress-left .progress-bar{
//   animation: loading-4 0.4s linear forwards 1.8s;
// }
// .progress.green .progress-bar{
//   border-color: #1abc9c;
// }
// .progress.green .progress-left .progress-bar{
//   animation: loading-5 1.2s linear forwards 1.8s;
// }
// @keyframes loading-1{
//   0%{
//       -webkit-transform: rotate(0deg);
//       transform: rotate(0deg);
//   }
//   100%{
//       -webkit-transform: rotate(180deg);
//       transform: rotate(180deg);
//   }
// }
// @keyframes loading-2{
//   0%{
//       -webkit-transform: rotate(0deg);
//       transform: rotate(0deg);
//   }
//   100%{
//       -webkit-transform: rotate(144deg);
//       transform: rotate(144deg);
//   }
// }
// @keyframes loading-3{
//   0%{
//       -webkit-transform: rotate(0deg);
//       transform: rotate(0deg);
//   }
//   100%{
//       -webkit-transform: rotate(90deg);
//       transform: rotate(90deg);
//   }
// }
// @keyframes loading-4{
//   0%{
//       -webkit-transform: rotate(0deg);
//       transform: rotate(0deg);
//   }
//   100%{
//       -webkit-transform: rotate(36deg);
//       transform: rotate(36deg);
//   }
// }
// @keyframes loading-5{
//   0%{
//       -webkit-transform: rotate(0deg);
//       transform: rotate(0deg);
//   }
//   100%{
//       -webkit-transform: rotate(126deg);
//       transform: rotate(126deg);
//   }
// }
// @media only screen and (max-width: 990px){
//   .progress{ margin-bottom: 20px; }
// }

