    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">
  
                <!-- Brand -->
              
  
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
  
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
                </div>
  
            </div>
        </nav>
        <!-- Navbar -->
  
        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
  
            <a class="logo-wrapper waves-effect">
                <img src="../../../../assets/img/logo.png" class="img-fluid" alt="">
            </a>
  
            <div class="list-group list-group-flush">

                <a routerLink="dashboards/v1"  routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-pie-chart mr-3"></i>Dashboard
                </a>
                <a routerLink="profiles/profile1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-user mr-3"></i>Doctors</a>
                <a routerLink="tables/table1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-table mr-3"></i>Nurses</a>
                <a routerLink="maps/map1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-map mr-3"></i>Patients</a>
                <!-- <a routerLink="nonExistingPath" routerLinkActive="active"   class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-exclamation mr-3"></i>404</a> -->

            </div>
  
        </div>
        <!-- Sidebar -->
  
    </header>
    <!--Main Navigation-->


