 <div class="cotainer">
 <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn"  [ngStyle]="{'background-color': buttonColor1}">
      <input (click)="addEvent1();" type="checkbox" name="options" id="option1" autocomplete="off"> Week 1
    </label>
    <label class="btn"  [ngStyle]="{'background-color': buttonColor2}">
      <input (click)="addEvent2();" type="checkbox" name="options" id="option2" autocomplete="off"> Week 2
    </label>
    <label class="btn"  [ngStyle]="{'background-color': buttonColor3}">
      <input (click)="addEvent3();" type="checkbox" name="options" id="option3" autocomplete="off"> Week 3
    </label>
    <label class="btn"  [ngStyle]="{'background-color': buttonColor4}">
      <input (click)="addEvent4();" type="checkbox" name="options" id="option3" autocomplete="off"> Week 4
    </label>
  </div>
</div>
  <table class="table table-hover">
    <thead>
        <tr>
            <th>Week</th>
            <th>Patient Count per one nurse</th>
            <th>Leave Posibility</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>5</td>
            <td><span class="badge badge-success badge-pill ">&nbsp;&nbsp;&nbsp;High&nbsp;&nbsp;&nbsp;</span></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>8</td>
          <td><span class="badge badge-warning badge-pill ">Medium</span></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>10</td>
          <td><span class="badge badge-danger badge-pill ">&nbsp;&nbsp;&nbsp;&nbsp;Low &nbsp;&nbsp;&nbsp;</span></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>9</td>
          <td><span class="badge badge-warning badge-pill ">Medium</span></td>
        </tr>
        
    </tbody>
</table>
